#drop-area {
    border: 10px dashed black;
    border-radius: 20px;
    width: 480px;
    padding: 20px;
    margin: 100px auto;
}

#drop-area.highlight {
    border-color: red;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: gray;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

.button:hover {
    background-color: lightgray; 
}

#fileElem {
    display: none;
}

#paste-upload-box {
    display: none;
}

.queued-file {
    padding: 10px;
    border: 1px solid black;
}

.queued-file-thumbnail {
    width: 100px;
    height: 100px;
}