@font-face {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/goudybookletter1911-regular-webfont.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Timtura';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/timtura.woff2') format('woff2');
    font-display: swap;
}

$card-width: 25rem;
$card-height: 18rem;
$card-margin: 1rem;
$card-space-width: $card-width + 2 * $card-margin;
$card-space-height: $card-height + 2 * $card-margin;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at top, #dfccb4, #423b30);
    background-color: #423b30;
    background-attachment: fixed;
    font-family: 'Timtura', sans-serif;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    padding: 0.25rem;
    text-align: center;
    color: #221f1a;
}

iframe {
    width: 100%;
    height: 30rem;
    border: 1px dashed #888;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    @media (max-width: 530px) {
        height: 20rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h1 {
    margin: 0 0 1rem;
    color: #4f463c;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 1.75rem;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2), 0 2px 2px white;

    > a {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

p {
    font-size: 0.825rem;
    line-height: 1.4;
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 1 * $card-space-width) {
        font-size: 1rem;
    }
}

a {
    color: #6a420f;
    text-decoration: none;

    &:link {
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }

    &:visited {
        color: #6a420f;
    }

    &:hover, &:focus {
        color: #a2610f;
        text-decoration-style: solid;
    }

    &:active {
        color: #a2610f;
    }
}

.article-card {
    background: white;
    background-image: linear-gradient(#f7ede9, #e1d8d0);
    border: 2px solid;
    border-color: #ffffff #e8e8e8 #98999f;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
    @media (min-width: 2 * $card-space-width) {
        box-shadow:
            0 1.5px 1.5px rgba(0, 0, 0, 0.056),
            0 3.5px 3.5px rgba(0, 0, 0, 0.081),
            0 6.6px 6.6px rgba(0, 0, 0, 0.1),
            0 11.8px 11.8px rgba(0, 0, 0, 0.119),
            0 22.1px 22.1px rgba(0, 0, 0, 0.144),
            0 53px 53px rgba(0, 0, 0, 0.2)
        ;
    }
    transition: box-shadow 0.2s;
    width: $card-width;
    height: $card-height;
    flex: 0 1 auto;
    padding: 1.2rem;
    margin: $card-margin;
    margin-bottom: 0;

    border-radius: 0.4rem;
    position: sticky;

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            top: #{$card-margin * $i};
        }
    }

    @media (min-width: $card-space-width) {
        margin-bottom: $card-margin;
    }

    @media (min-width: 2 * $card-space-width) {
        position: relative;
        border-radius: 0.25rem;
        margin-bottom: $card-margin;
        &:nth-child(n) {
            top: unset;
        }
    }

    > p {
        > img {
            width: 50%;
            object-fit: cover;
            float: right;
            margin-left: 0.5rem;
            border: 1px dashed #888;
        }
    }

    &.title-link:hover {
        @media (min-width: 2 * $card-space-width) {
            box-shadow:
                0 2.9px 2.9px rgba(0, 0, 0, 0.056),
                0 7px 7px rgba(0, 0, 0, 0.081),
                0 13.1px 13.1px rgba(0, 0, 0, 0.1),
                0 23.5px 23.5px rgba(0, 0, 0, 0.119),
                0 43.9px 43.9px rgba(0, 0, 0, 0.144),
                0 105px 105px rgba(0, 0, 0, 0.2)
            ;
        }
    }
}

.article-post {
    width: calc(100% - 2 * #{$card-margin});
    max-width: 40rem;
    padding: 1rem;
    margin: 2rem auto;
    background-image: linear-gradient(#f7ede9, #e1d8d0);
    border: 2px solid;
    border-radius: 0.25rem;
    border-color: #ffffff #e8e8e8 #98999f;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
    @media (min-width: 2 * $card-space-width) {
        box-shadow:
            0 1.5px 1.5px rgba(0, 0, 0, 0.056),
            0 3.5px 3.5px rgba(0, 0, 0, 0.081),
            0 6.6px 6.6px rgba(0, 0, 0, 0.1),
            0 11.8px 11.8px rgba(0, 0, 0, 0.119),
            0 22.1px 22.1px rgba(0, 0, 0, 0.144),
            0 53px 53px rgba(0, 0, 0, 0.2)
        ;
    }
}

.spacer-card {
    width: $card-width;
    height: calc(100vh - #{$card-space-height});
    flex: 0 1 auto;
    margin: $card-margin;

    @media (min-width: 2 * $card-space-width) {
        display: none;
    }
}

.card-container {
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media (min-width: 1 * $card-space-width) {
        max-width: 1 * $card-space-width;
    }
    @media (min-width: 2 * $card-space-width) {
        max-width: 2 * $card-space-width;
        padding-top: 3rem;
    }
    @media (min-width: 3 * $card-space-width) {
        max-width: 3 * $card-space-width;
    }
}